body {
  margin: 0;
  padding: 0;
}

.search-bar-register {
  display: flex;
  align-content: space-around;
  justify-content:space-around;
  padding: 20px;
}

.search-bar-register button, label {
  display: flex;
}

.search-bar-register > label {
  height: 15%;
  border-radius: 5px;
  margin: 5px 15px;
}

.search-bar-register > button {
  width: 10%;
  height: 15%;
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color:#2873b6;
}

.customer-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.customer-table > table {
  width: 80%;
  justify-content: center;
}

table > th, td {
  padding: 10px;
} 

td > button {
  padding: 2px
}

.customer-table > table > thead{
  color: #2873b6;
}

.customer-table > table > tbody{
  background-color: white;
}

.tipo {
  height: 15%;
  border-radius: 5px;
  margin: 5px 15px;
}

.form-pj-part1 {
  display: flex;
  width: 100%;
  justify-content: left;
  padding: 10px;
}

.form-pj-part2{
  display: flex;
  width: 60%;
  justify-content: left;
  padding: 10px;
}

.form-pj-part2 div {
  display: flex;
}

.form-pj-part3 {
  display: flex;
  width: 80%;
  justify-content: left;
  padding: 10px;
}

.form-pj-part3 label {
  display: block;
}

.form-pj-part3 > label > input {
  width: 250px;
}

.form-pj-part4 {
  display: flex;
  width: 100%;
  justify-content:left;
  padding: 10px;
}

.form-pj-part4 > label > input {
  width: 300px;
}

.form-pj-part5 {
  display: flex;
  width: 100%;
  justify-content:left;
  padding: 10px;
}

.form-pj-part5 > label > input {
  width: 300px;
}

.form-pj-part6 {
  display: flex;
  width: 80%;
  justify-content:left;
  padding: 10px;
}

.form-pj-part6 > label {
  padding: 0px 10px 0px 0px;
  height: 90%;
}

.form-pj-part7 {
  display: flex;
  width: 90%;
  justify-content:left;
  padding: 10px;
}

.form-pj-part7 > label {
  display: block;
}

.form-pf-part1, .form-pf-part2, .form-pf-part3, 
.form-pf-part4, .form-pf-part5, .form-pf-part6{
  display: flex;
  width: 100%;
  justify-content:left;
  padding: 10px;
}

.form-pf-part1 > label, .form-pf-part2 > label, 
.form-pf-part3 > label, .form-pf-part4 > label,
.form-pf-part5 > label, .form-pf-part6 > label {
  padding: 0px 10px 0px 0px;
  height: 90%;
}

.form-pf-part5 > label > input{
  width: 300px;
}

.form-end-part1, .form-end-part2, 
.form-end-part3, .form-end-part4{
  display: flex;
  width: 100%;
  justify-content:left;
  padding: 10px;
}

.form-end-part1 > label, .form-end-part2 > label, 
.form-end-part3 > label, .form-end-part4 > label{
  padding: 0px 10px 0px 0px;
  height: 90%;
}

.form-end-part4 > label > textarea {
  width: 500px;
  height: 100px;
}

#Enviar {
  width: 10%;
  height: 15%;
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color:green;
}

#Cancelar {
  width: 10%;
  height: 15%;
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color:red;
}

.buttons {
  display: flex;
  width: 80%;
  justify-content:left;
  padding: 10px 10px 10px 250px;
}